html, body {
  margin: 0; padding: 0; border: 0;
}

p {
  margin: 0
}

a: {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}


li {
  display: "table";
  line-height: 50px;
  font-size: 100px;
}

li a {
  line-heigth: 50px;
}

li span {
  font-size: 18px;
  vertical-align: top;
}

li p {
  display: "table-cell";
  font-size: 18px;
  vertical-align: middle;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  min-height: 100vh
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
