html, body, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #241D1D;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.card {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fdfeec;
  font-family: 'Allerta Stencil';
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

h2 {
  font-size: 18px;
  font-weight: 700px;
}

.labels_container {
  margin-left: auto;
  margin-right: auto;
}

.labels_container > row {
  margin-left: auto;
  margin-right: auto;
}

.label_container {
  margin: 50px;
}

.label {
  /* align-items: center; */
  /* flex: 1; */
  height: 100px;
  justify-content: center;
  text-align: center;
}

.banner {
  margin: 75px;
  min-height: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-item {
  cursor: pointer;
}

.labels_container {
  text-align: center;
}

.pursuit {
  align-items: center;
  flex: 1;
  margin: 10;
  padding: 20;
  background-color: red;
}

.pursuit .outBtn {
  align-items: center;
  align-self: flex-end;
  background-color: #fdfeec;
  border-radius: 50px;
  color: black;
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 40px;
}

.rec {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  min-height: 400px;
}

.rec-date {
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: 30px;
  left: 30px;
}

.rec-text {
  align-text: center;
  margin-right: 300px;
  padding: 100px;
}

.rec-attr {
  background-color: #FDFEEC;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  padding: 40px;
  float: right;
  max-width: 300px;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 0;
  height: 100%;
}

#hey {
  font-size: 120px;
  margin-left: 160px;
}

#clayton {
  text-align: center;
}


/* iPads (portrait) ----------- */
@media (max-width : 1024px) {

  h1 {
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #hey {
    margin-top: 60px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner {
    margin: 25px;
    margin-top: 60px;
  }

  .rec {
    margin: 25px;
    margin-bottom: 80px;
    padding: 0px;
  }

  .rec-attr {
    align-items: center;
    background-color: #FDFEEC;
    border-radius: 0px 0px 15px 15px;
    height: 100%;
    min-width: 100%;
    position: static;
    text-align: center;
  }

  .rec-text {
    margin: 25px;
    padding: 60px 10px 30px 10px;
  }
}
